@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");
body {

  margin: 0;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: #000; }

b {
  font-weight: bold;}

h3 {
  font-size: 18px;
}

.wrapper {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 100%;
  min-height: 100vh; }

.header {
  grid-row: 1;
  grid-column: 1;
  display: grid; }

.nav {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: #2E7D32;
  padding: 0 160px; }

.logo {
  align-self: center;
  font-weight: 500;
  font-size: 64px;
  color: #ffffff; }

.nav-links {
  align-self: center;
  position: relative; }
  .nav-links a {
    margin-right: 30px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    transition: color 1s; }
  .nav-links a:hover {
    color: #ffffff;
    transition: color 1s; }
  .nav-links a:last-child {
    margin-right: 0; }
 .login-place{
 	width: 747px;
 	height: 489px;
 	background-color: white;
 	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 	margin: 0 auto;
 	margin-top: 33px;
}
.unknow-password{ 
	font-weight: bold;
	font-size: 18px;
	color: #4D4D4D;
 	text-decoration: none;
 	margin-left: 132px;
}
.registration{
	font-weight: bold;
	font-size: 18px;
	color: #2E7D32;
 	text-decoration: none;
 	margin-left: 48px;
}
.enter{
	width: 314px;
	height: 39px;
	margin-left: 214px;
	background-color: #2E7D32;
	color: #FFFFFF;
	border: 1px solid #2E7D32;
	margin-top: 38px;
	border-radius: 5px;
	font-size: 18px;
}
.inp1{
	margin-left:134px;
	margin-top: 45px;
}
.inp2{
	margin-left:134px;
	margin-top: 31px;
}
.inp-border{
border: 3px solid #2E7D32;
width: 481px;
height: 64px;
font-size: 18px;
color: #999999;
text-align: center;
border-radius: 5px;
}
@media (max-width: 1919px) {
  .nav {
    height: 40px; }

  .logo {
    font-size: 30px; }

  .nav-links a {
    font-size: 18px; } }
@media (max-width: 800px) {
  .nav {
    display: grid;
    height: 80px;
    justify-content: center; }

  .logo {
    text-align: center; } }
@media (max-width: 560px) {
  .nav {
    height: 130px; }

  .nav-links {
    display: grid;
    text-align: center; }
    .nav-links a {
      margin-right: 0; } }
.title {
  grid-row: 2;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 300px;
  background: url("/static/img/main-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 72px;
  line-height: 134.09%;
  text-align: center;
  color: #ffffff; }

@media (max-width: 1919px) {
  .title {
    height: 300px;
    font-size: 64px; } }
@media (max-width: 800px) {
  .title {
    font-size: 40px; } 
 .login-place{
	box-shadow:none;
	 height: 450px;}
.h1{
   	margin: 0;
  	padding: 0;
  	line-height: 0;}
.inp1{
	margin-left:134px;
	margin-top: 30px;}
.inp2{
	margin-left:134px;
	margin-top: 16px;}
.inp-border{
	border: 2px solid #2E7D32;}
}
.errorlogin{
  color: #2E7D32;
  font-weight: bold;
  text-align: center;
}
.menu {
  grid-row: 3;
  display: flex;
  justify-content: center;
  height: 85px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
 .menu a {
    color: #000000;
    font-size: 18px;
    margin-right: 50px;
    align-self: center;
    font-weight: bold; }
 .menu a:last-child {
    margin-right: 0; }

@media (max-width: 1919px) {
  .menu {
    height: 50px; }
    .menu a {
      font-size: 18px; } }
@media (max-width: 620px) {
  .menu {
    display: grid;
    height: 200px; }
    .menu a {
      margin-right: 0;
      text-align: center; } }
.main {
  display: grid;
  grid-gap: 30px;
  height: auto;
  justify-content: space-around;
  padding: 30px 0 100px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px;
  justify-items: center;
  grid-auto-rows: 100px;}

.card {
  width: 83.088vw;
  display: flex;
  font-size: 20px;
  line-height: 134.09%; 
  align-items: center;
  padding: 15px 50px;
  border: 1px solid #2E7D32;
  justify-content: space-between;}

.card__info {
  display: flex;
  align-items: center;}  

.card__date {
  margin-right: 45px;
  color: rgba(0, 0, 0, 0.5);}

.card__text h3 {
  font-weight: bold;
  color: #000;
  margin: 0 auto;
  font-size: inherit;} 

.card__text p {
  margin: 0 auto;
}

.card__text {
  color: rgba(0, 0, 0, 0.6);}

.card__buttons {
  align-self: flex-end;
  display: flex;
  flex-shrink: 2;}

.card__buttons a {
  color: #2E7D32;
  padding: 8px 30px;
  border: 2px solid #2E7D32;
  border-radius: 5px;
  margin-right: 20px;
  border-radius: 5px;}  

.dontActive {
  pointer-events: none;
  cursor: default;
}

.card__buttons a:hover {
  background: #2E7D32;
  color: #fff;
}

@media (max-width: 1919px) {
  .card {
    width: 80vw;
    font-size: 18px;
  }
  .card h3 {
    font-size: 18px;}
}

@media (max-width: 1365px) {
  .card {
    font-size: 14px;}}

@media (max-width: 800px) {
  .card {
    width: 360px;
    flex-direction: column;
    justify-content: center;}
  .card__buttons {
    align-self: center;}
  .card__buttons a {
    padding: 5px 40px;}}
.footer {
  grid-row: 3;
  grid-column: 1;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
  background: #2E7D32; }
  .footer a {
    display: block;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 20px; }

.vk {
  background: url("img/vk-icon.png"); }

.inst {
  background: url("img/inst-icon.png"); }

.container {
  margin-top: 105px;
  margin-left: 163px;}

.container-header {
  margin-bottom: 28px;}  

.container-main {
  display: flex;
  align-items: flex-start;}

.pData {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.pData-list {
  width: 18.07291%;
  margin-right: 40px;}

.pData-list__title {
  font-size: 36px;
  line-height: 134.09%;
  margin-bottom: 41px;
  font-weight: bold;}  

.pData-list__ul li a{
  margin-left: -38px;
  font-size: 18px;
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.7);}  

  .pData-list__ul li a:hover {
    color: #000;
    border-bottom: 2px solid #2E7D32;}

.banner {
  color: #fff;
  background: rgba(46, 125, 50, 0.7);
  padding: 23px 40px;
  text-align: center;
  margin-bottom: 30px;
}

.pData-blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pData-block {
  width: 46%;
  padding: 47px 20px 20.91px 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 0;
  margin-bottom: 50px;
  box-sizing: border-box;}

.pData-block__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 134.09%;
  margin-bottom: 44px;
  text-align: center;}

.pData-block form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);}

.pData-block form input{
  padding-left:10px;
  padding-right: 10px;
  margin: 7px 0 32px;
  height: 36px;
  border: 1px solid #2E7D32;
  font-size: 18px;
  border-radius: 5px;}

.pData-block form button {
  width: 74.62028301886792%;
  height: 41.09px;
  background: #2E7D32;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;}

.buttons {
  text-align: center;}

  @media (max-width: 1919px) {
    .container {
      margin: 70px;}
    
    .pData-list__title {
      font-size: 20px;}

    .pData-list__ul li a {
      font-size: 12px;}

    .pData-block {

      margin-right: 0;}  

    .pData-block__title {
      font-size: 16px;}
    
    .pData-block form {
      font-size: 16px;}
    
    .pData-block form input {
      height: 24px;}}
  @media (max-width: 800px) {
  .container{
    margin: 50px;}
    
  .banner {
    font-size: 14px;
  }  
  .pData-list__title {
    font-size: 14px;
    margin-bottom: 20px}
  .pData-block {
    padding: 20px 10px;}}
  @media (max-width: 560px) {
    .container {
      margin: 30px;}

    .pData-block {
      padding: 20px 10px;}  

    .pData-block__title {
      font-size: 8px;}

    .pData-block form {
      font-size: 8px;}

    .pData-block form input {
      height: 8px;
      margin: 7px 0 15px;}

    .pData-block form button {
      height: 15px;
      font-size: 6px;
    }  

    .pData-list__title {
      font-size: 10px;
      margin-bottom: 20px;}

    .pData-list__ul li a {

      font-size: 6px;}}
  
  .dropdown-menu {
    display: none; 
    position: absolute;
    right: 0;
    top: 150%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 8px 22px 7px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin-top:0px; 
    background: #FFFFFF;
  }

  .dropdown-menu li a {
    color: #2E7D32;
  }
  .dropdown-menu li a:hover {
    color: #2E7D32;
  }

  .knop {
    padding-bottom: 10px;
  }

  .dropdown-menu li {
    margin-bottom: 28px;
  }
  ol, ul {
    list-style: none;
  }
  .dropdown-menu li:last-child {
    margin-bottom: 0;
  }

/*# sourceMappingURL=style.css.map */
