{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="title">
         Очистка водоемов, лесов организация субботников
      </div>
         <div class="menu">
            <a href="#">Грядущие события</a>
            <a href="#">Прошедшие события</a>
            <a href="#">События на сегодня</a>
         </div>
      </div>
      <div class="main">
      {% csrf_token %}
         {% for event in events %}
         <div class="card">
         <div class="card__info">
            <div class="card__date">
                  <div class="time">
                     19:00
                  </div>
                  <div class="day">
                     20.09.2019
                  </div>
               </div>
               <div class="card__text">
                  <h3>
                     {{event.name}}
                  </h3>
                  <p id = 'count_members{{ event.id }}'>
                     {{event.get_count_members}} участника
                  </p>
               </div>
            </div>
            <div class="card__buttons">
               <a href="#" id = "{{event.id}}" data-id = "{{event.id}}" class='btn dontActive'>{% if request.user in event.members.all %}Вы записаны{% else %}Записаться{% endif %}</a>
               <a href="#">
                  Подробнее
               </a>
            </div>
         </div>
         {% endfor %}
      </div>

      <script>
      $( document ).ready(function() {
         var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
         $('.btn').click(function(){
            $.post(
               "{% url 'maineco:join_event' %}",
               {
                  "id_event": $(this).data('id'),
                  "csrfmiddlewaretoken": token
               },
                 function (data) {
                            var button = data.id_event
                            $("#"+button).text("Вы записаны")
                            $.notify(data.message,data.tag);
                            $('#count_members'+button).text(data.member_count + " участника")

                    }
               );
         })
      });
      
      </script>
{% endblock content %}