{% extends 'base.html' %}
{% block title %}
    Личный кабинет
{% endblock title %}
{% load staticfiles %}
{% block content %}
		<main class="uk-section-small" uk-height-viewport="expand: true">
			<div class="uk-container uk-container-large">

				<div class="uk-section-small">
					<div class="uk-grid-small" uk-grid>
						<div class="uk-width-1-6">
							<div class="uk-flex uk-flex-middle">
								<img class="lkAvatar uk-margin-small-right borderR uk-float-left" src="{% if request.user.logo %}{{request.user.logo.url}}{% endif %}">
								<div class="uk-text-truncate lkShowName">
									<div class="uk-text-truncate"><b>{{request.user.first_name}} {{ request.user.last_name }}</b></div>
									<div class="uk-text-truncate">{{ request.user.email }}</div>
								</div>
							</div>
							<ul class="uk-tab-left" uk-tab="connect: #lkContent; animation: uk-animation-fade">
								<li class="uk-active"><a href="#"><i class="fas fa-user fa-lg fa-fw uk-margin-small-right"></i><span>Профиль</span></a></li>
								<li><a href="#"><i class="fas fa-calendar-alt fa-lg fa-fw uk-margin-small-right"></i><span>Мероприятия</span></a></li>
								<li><a href="#"><i class="fas fa-pastafarianism fa-lg fa-fw uk-margin-small-right"></i><span>Проекты</span></a></li>
								<li><a href="#"><i class="fas fa-user-cog fa-lg fa-fw uk-margin-small-right"></i><span>Настройки</span></a></li>
							</ul>
						</div>
						<div class="uk-width-5-6">
							<div id="lkContent" class="uk-switcher">
								<div><h2>Профиль</h2></div>
								<div><h2>Мероприятия</h2></div>
								<div>
									<h2>Проекты</h2>
									<div class="uk-child-width-1-1@m uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-small" uk-grid>
                                            {% for group in groups %}
                                            <div>
                                                <div class="projectCard">
                                                    <img data-src="{% static 'img/placeholder.jpg' %}" alt="{{group.name}}"  uk-img>
                                                    <div class="projectCardText">
                                                        <h3>{{group.name}}</h3>
                                                        <p>
                                                            <a href="" uk-tooltip="title: Смотреть; pos: bottom"><i class="fas fa-fw fa-lg fa-eye"></i></a>
                                                            <a href="" uk-tooltip="title: Редактировать; pos: bottom"><i class="fas fa-fw fa-lg fa-pen"></i></a>
                                                            <a href="" uk-tooltip="title: Удалить; pos: bottom"><i class="fas fa-fw fa-lg fa-trash"></i></a>
                                                        </p>
                                                    </div>
                                                </div>
										    </div>
                                            {% endfor %}
										<div>
											<div class="projectCard">
												<img data-src="{% static 'img/placeholder.jpg' %}" alt="Название проекта"  uk-img>
												<div class="projectCardText">
													<h3><i class="fas fa-2x fa-plus"></i></h3>
													<p>Добавить новый проект</p>
												</div>
												<a href="" class="projectCardLink"></a>
											</div>
										</div>
									</div>
								</div>
								<div><h2>Настройки</h2></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</main>
{% endblock content %}