{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
      <div class="container">
          <div class="container-header">
            <p>
                Главная / <b>Личные данные</b>
            </p>
          </div>
          <div class="container-main">
              <div class="pData-list">
                  <div class="pData-list__title">
                      Личные данные
                </div>
                  <div class="pData-list__ul">
                      <ul>
                          <li><a href="#">Личные данные</a></li>
                          <br>
                          <li><a href="#">Мои события</a></li>
                          <br>
                          <li><a href="#">Настройки</a></li>
                      </ul>
                  </div>
              </div>
              <div class="pData-block">
                  <div class="pData-block__title">
                      Персональные данные
                  </div>
                  <form action="#">
                      <label for="sName">Фамилия</label>
                      <input type="text" id="sName">
                      <label for="fName">Имя</label>
                      <input type="text" id="fName">
                      <label for="tel">Номер телефона</label>
                      <input type="tel" id="tel">
                      <label for="email">E-mail</label>
                      <input type="email" id="email">
                      <div class="buttons">
                        <button type="submit">Сохранить</button>
                      </div>
                  </form>
              </div>
              <div class="pData-block">
                    <div class="pData-block__title">
                        Изменение пароля
                    </div>
                    <form action="#">
                        <label for="password">Текущий пароль</label>
                        <input type="password" id="password">
                        <label for="nPassword">Новый пароль</label>
                        <input type="password" id="nPassword">
                        <label for="cPassword">Подтвердите новый пароль</label>
                        <input type="password" id="cPassword">
                        <div class="buttons">
                            <button type="submit">Изменить пароль</button>
                        </div>
                    </form>
                </div>
          </div>
          
{% endblock content %}